<% include ../partials/header %>

<h1>Welcome <%=user.firstName%></h1>
<h4>All your stories</h4>
<%if(stories.length > 0){%>
  <table class="striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%for (var i = 0; i < stories.length; i++) {%>
          <tr>
            <td><a href="/stories/show/<%=stories[i]._id%>"><%=stories[i].title%></a></td>
            <td><%=moment(stories[i].date).format("MMMM Do YYYY")%></td>
            <td><span class="dash-status"><%=stories[i].status%></span></td>
            <td><a class="btn left-align" href="/stories/edit/<%=stories[i]._id%>"><i class="fa fa-pencil"></i>Edit</a>
            <form action="/stories/<%=stories[i]._id%>?_method=DELETE" method="post" id="delete-form">
              <button type="submit" class="btn red"><i class="fa fa-remove"></i>Delete</button>
            </form>
            </td>
          </tr>
        <%}%>
      </tbody>
  </table>
<%}else{%>
  <p>Post a story by clicking the add button on the bottom right</p>
<%}%>

<% include ../partials/footer %>
